@import 'yeti/loader';
@import 'yeti/bootswatch';
@import 'fontawesome';

$green: rgb(0, 169, 151);
@font-face {
    font-family: 'latoregular';
    src: url('lato-reg-webfont.eot');
    src: url('lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-reg-webfont.woff') format('woff'),
         url('lato-reg-webfont.ttf') format('truetype'),
         url('lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('lato-lig-webfont.eot');
    src: url('lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-lig-webfont.woff') format('woff'),
         url('lato-lig-webfont.ttf') format('truetype'),
         url('lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('lato-bol-webfont.eot');
    src: url('lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bol-webfont.woff') format('woff'),
         url('lato-bol-webfont.ttf') format('truetype'),
         url('lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background:$green;
}

h2 {
  font-family: latolight, sans-serif;
  line-height: 1.3em;
  font-size: 3.7em;
  color:white;
}
h3 {
  color:white;
  font: 1.7em latolight, sans-serif;
  padding-bottom: 25px;
  padding-top: 0px;
}



.center-text {
   text-align: center;
 }

.root-page#message_email {
  height: 55px;
  margin-left:5px;
  margin-right:0;
}

.spacer {
  margin-top:7%;
}

h2.fade2 {
  margin-top:7%;
}

h1.fade1.logo {
  margin-left:auto;
  margin-right:auto;
}

h3.center-text {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

#email-form-welcome {
  width:100%;
  div {
    display:inline;
  }
}

#message_email.root-page {
  margin-left: 0;
  margin-right:10px;
  min-height:59px;
  height:59px;
}

a {
  color:hsl(174, 100%, 29%);
  %i.fa.fa-3x {
    border-color: rgb(0, 148, 133);
    border-style: none;
    color:hsl(174, 100%, 29%);
  }
}


input.root-page-button {
  background-color: none;
  background: transparent;
  margin:0;
  border: 1px solid rgb(255, 255, 255) !important;
  color: rgb(255, 255, 255);
  font-family: 'latolight', sans-serif;
  border-image: none !important;
  border-style: solid;

}
